[submodule "tivaware"]
	path = tivaware
	url = https://github.com/antoinealb/Tivaware
[submodule "rust"]
	path = rust
	url = https://github.com/rust-lang/rust
[submodule "lm4tools"]
	path = lm4tools
	url = https://github.com/utzig/lm4tools/
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/cvra/ChibiOS.git
